<%# User Convo Box %>
<%= tag.div 'data-controller': 'message', 'hidden': false, 'data-message-animate-value': false do %>
  <%# TODO bg-black/40 WHEN BEAR RESPONSE %>
  <div class="w-full py-36">
    <div class="flex gap-24 wrapper">
      <%# avatar %>
      <div class="w-40 h-40 rounded-full bg-secondary shrink-0">
        <%= render partial: 'messages/avatar', locals: { message: message, isPointy: false } %>
      </div>
      <%# message %>
      <div class="break-words markdown">
        <div data-message-target="text"><%= message.content %></div>
      </div>
    </div>
  </div>
<% end %>

<% if message.assistant_reply? %>
  <%= tag.div 'data-controller': 'message', 'hidden': false, 'data-message-animate-value': animate_reply do %>
    <%# TODO bg-black/40 WHEN BEAR RESPONSE %>
    <div class="w-full py-36 bg-black/40">
      <div class="flex gap-24 wrapper">
        <%# avatar %>
        <div class="w-40 h-40 rounded-full bg-secondary shrink-0">
          <%= render partial: 'messages/avatar', locals: { message: message, isPointy: true } %>
        </div>
        <%# message %>
        <div class="break-words markdown">
          <div data-message-target="text"><%= message.assistant_reply %></div>
        </div>
      </div>
    </div>
  <% end %>
<% end %>
