
<div class="relative flex flex-col h-screen overflow-auto" data-controller="honey">
  <header class="fixed inset-x-0 top-0 flex items-center justify-between h-64 gap-24 bg-gradient-to-t from-tertiary/0 to-tertiary">
    <h1 class="flex gap-8 px-16 text-3xl shrink-0 animate-font-bounce text-secondary">
      <img class="w-36 aspect-square" src="<%= asset_path( 'pointy-happy.png' ) %>" />
      PointyAI
    </h1>
    <div class="flex items-center gap-32 shrink-0">
      <% if current_user %>
        <div class="flex text-xl animate-font-bounce text-secondary shrink-0">
          <%= link_to "Sign Out", destroy_user_session_path, method: :delete %>
        </div>
      <% end %>
      <%= render 'honey' %>
    </div>
  </header>

  <%# Threaded Conversation %>
  <main class="flex h-full flex-col items-center scroll-smooth scrollbar-default text-lg font-thin leading-10 text-white overflow-auto pb-[216px]">
    <div id="splash" class="m-auto empty:hidden"><% if messages.empty? %><%= render partial: "splash" %><% end %></div>

    <div id="messages" class="flex flex-col justify-end w-full mt-auto empty:hidden"><%= render partial: "messages/message", collection: messages %></div>
  </main>

  <%# User input %>
  <footer class="absolute bottom-0 w-full bg-gradient-to-b from-tertiary/0 via-tertiary/90 to-tertiary/90">
    <%= form_with method: :delete, url: "/messages/reset", id: "input_form", data: {'turbo-frame': 'messages'} do |form| %>
      <div class="flex justify-center mb-16">
        <button class="text-white" data-action="honey#resupply">Clear Session</button>
      </div>
    <% end %>

    <%= render "form" %>

    <div class="py-32 wrapper">
      <%# TODO: prettify %>
      <p class="text-center text-white">A <strong>Pointless Corp.</strong> Production</p>
    </div>
  </footer>
</div>
