
<div class="relative flex flex-col h-screen overflow-auto" data-controller="honey">
  <header class="fixed inset-x-0 top-0 flex justify-between gap-24 bg-gradient-to-t from-tertiary/0 to-tertiary">
    <h1 class="flex gap-8 p-16 text-3xl font-black shrink-0 animate-font-bounce text-secondary">
      <img class="w-36 aspect-square" src="<%= asset_path( 'pointy-happy.png' ) %>" />
      PointyAI
    </h1>
    <%= render 'honey' %>

    <div class="flex justify-end">
      <div class="flex text-3xl font-black animate-font-bounce text-secondary">
        <% if current_user %>
          <%= link_to "Sign Out", destroy_user_session_path, method: :delete %>
        <% end %>
      </div>
    </div>
  </header>

  <%# Threaded Conversation %>
  <main class="flex h-full flex-col items-center scroll-smooth scrollbar-default text-lg font-thin leading-10 text-white overflow-auto pb-[196px]">
    <%= turbo_frame_tag "messages_frame", class:"w-full flex flex-col justify-end mt-auto" do %>
      <% if !messages.empty? %>
        <% messages.each do |val| -%>
          <%# User Convo Box %>
          <%= tag.div 'data-controller': 'message', 'hidden': val === messages.last, 'data-message-animate-value': val === messages.last do %>
            <%# TODO: connect isPointy to responses %>
            <% isPointy = false %>
            <% honeyMeter = 4 %>

            <div class="w-full py-36 <%= 'bg-black-overlay' if isPointy %>">
              <div class="flex gap-24 wrapper">
                <%# avatar %>
                <div class="w-48 h-48 shrink-0">
                  <% if isPointy and honeyMeter = 0 %>
                    <%# pointy with honey %>
                    <img class="w-full aspect-square animate-vibrate" src="<%= asset_path( 'pointy-angry.png' ) %>" />
                  <% elsif isPointy and honeyMeter > 0 %>
                    <%# pointy no honey %>
                    <img class="w-full aspect-square" src="<%= asset_path( 'pointy-happy.png' ) %>" />
                  <% else %>
                    <%# user %>
                    <img class="w-full aspect-square" src="<%= asset_path( 'user.png' ) %>" />
                  <% end %>
                </div>
                <%# message %>
                <div class="break-words markdown mt-6">
                  <div data-message-target="text"><%= val %></div>
                </div>
              </div>
            </div>
          <% end %>
        <% end %>
      <% else %>
        <%# Welcome Splash %>
        <div class="flex flex-col items-center w-full gap-24 pb-32 mb-auto text-center pt-72 wrapper min-h-[calc(100vh-196px)]">
          <img class="max-w-[252px] w-full" src="<%= asset_path( 'pointy-bike.png' ) %>" />
          <h2 class="text-4xl font-bold lg:text-6xl ">Welcome to PointyAI</h2>
          <h3 class="text-xl lg:text-3xl">You can ask me anything (especially if it relates to honey)</h3>
        </div>
      <% end %>
    <% end %>
  </main>

  <%# User input %>
  <footer class="absolute bottom-0 w-full bg-gradient-to-b from-tertiary/0 via-tertiary/90 to-tertiary/90">
    <%= form_with url: "/messages/reset", data: {'turbo-frame': 'messages'} do |form| %>
      <div class="flex justify-center mb-16">
        <button class="text-white" data-action="honey#resupply">Clear Session</button>
      </div>
    <% end %>

    <%= form_with url: "/messages/create", data: {'turbo-frame': 'messages_frame', 'action':'honey#submit'}, class: 'wrapper' do |form| %>
      <label class="relative flex items-center justify-between w-full text-white rounded h-72 bg-primary">
        <input name="message" type="text" class="w-full h-full pl-20 pr-64 text-2xl bg-transparent border-0 rounded focus:outline-transparent focus:ring-2 focus:ring-primary-hover focus:ring-offset-4 focus:ring-offset-tertiary placeholder:text-white/50" placeholder="Type your question">
        <button type="submit" class="absolute mr-8 text-4xl -translate-y-4 bg-transparent cursor-pointer right-8 drop-shadow-lg" aria-hidden="true" tabindex="-1">
          🍯
        </button>
      </label>
    <% end %>
    <div class="py-32 wrapper">
      <%# TODO: prettify %>
      <p class="text-center text-white">A <strong>Pointless Corp.</strong> Production</p>
    </div>
  </footer>
</div>
